* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
button {
  padding: 1rem;
  color: blue;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}